@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Saudagar";
  src: url("/assets/fonts/saudagar.woff2") format("woff2"),
       url("/assets/fonts/saudagar.woff") format("woff"),
       url("/assets/fonts/saudagar.ttf") format("truetype");
}

@keyframes kenburns-top {
  0% {
    transform: scale(1.25) translateY(-25px);
    transform-origin: top;
  }
  100% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
}

#kenburns-top {
  animation: kenburns-top 5s ease-out both;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  .swiper {
    overflow: clip;
  }

  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background-color: #fff;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    padding: 24px;

    &:hover {
      background: black;
    }
  }
}

