@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Saudagar';
    src:
        url('assets/fonts/saudagar.woff2') format('woff2'),
        url('assets/fonts/saudagar.woff') format('woff'),
        url('assets/fonts/saudagar.ttf') format('truetype');
}

@keyframes kenburns-top {
    0% {
        transform: scale(1.25) translateY(-25px);
        transform-origin: top;
    }
    100% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 16%;
    }
}

#hero-title {
    font-family: 'Saudagar';
}

#kenburns-top {
    animation: kenburns-top 5s ease-out both;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #150a1a;
}

.customModal {
    max-width: 600px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
}

.customOverlay {
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
}

@media (max-width: 767px) {
    .customModal {
        max-width: 100%;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.swiper-slide.swiper-slide-active {
    align-self: center;
}
